* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap"');
}

a {
  text-decoration: none;
  color: #fcfcfc;
}

a:active {
  color: #fcfcfc;
}

p {
  font-size: 1rem;
}

main {
  color: #fcfcfc;
  background-color: #130e0e;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  font-size: 0.9rem;
}

header {
  width: 100vw;
  background-color: #130e0e;
  color: #fcfcfc;
  font-size: 2rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  overflow-y: scroll;
}

.navigation__logo {
  text-transform: uppercase;
}

.navigation__logo a {
  display: block;
}

.footer {
  background-color: #130e0e;
  margin-top: 1rem;
  border-top: 2px solid #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: capitalize;
}

.footer .title {
  text-align: center;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .social-icons__icon {
  color: #fcfcfc;
}

.footer .social-icons__icon i {
  font-size: 1.5rem;
  margin: .5rem;
}

.footer .creator-info p, .footer .creator-info a {
  color: #196f9a;
  font-size: 0.9rem;
}

.page-heading {
  border-bottom: 3px solid #fcfcfc;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: hidden;
  margin-top: 1rem;
}

.event__date,
.event__name,
.event__location {
  display: none;
}

.event__date--description,
.event__name--description {
  color: #196f9a;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.event__location--description {
  color: #948d8d;
}

.news {
  border-bottom: 1px solid #948d8d;
  padding: 0.5rem 0rem;
}

.news__heading {
  color: #196f9a;
}

.news__body {
  color: #948d8d;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.album__cover {
  max-width: 90vw;
  height: auto;
  margin: 1rem auto;
}

.album__song-list {
  margin-left: 1rem;
}

.album__song-list li {
  margin-top: 3px;
}

.home .main-content {
  position: relative;
}

.home .main-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: #130e0e;
  text-transform: uppercase;
}

.home .main-content__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .main-content__form form input {
  height: 2.5rem;
  border: 2px solid #130e0e;
  border-right: none;
}

.home .main-content__form form button {
  padding: 0 0.5rem;
  height: 2.5rem;
  color: #fcfcfc;
  background-color: transparent;
  border: 2px solid #130e0e;
  border-radius: 0 10% 10% 0;
  text-transform: uppercase;
}

.home .main-content__form form button:hover {
  color: #130e0e;
  background-color: #fcfcfc;
}

.home .main-content__img {
  width: 100vw;
  height: 90vh;
}

.home .main-content::before {
  content: '';
  background-color: #afafaf;
  opacity: 0.4;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.home__text-section {
  width: 90%;
  margin: 2rem auto;
  position: static;
}

.home__text-section h5 {
  margin-bottom: 1rem;
}

.home__text-section p {
  text-align: left;
  margin-top: 1rem;
}

.events {
  width: 90%;
  margin: auto;
}

.events .event {
  margin-top: 1rem;
  border-bottom: 1px solid #948d8d;
  padding-bottom: 1rem;
}

.news-section {
  width: 90%;
  margin: auto;
}

.music {
  width: 90%;
  margin: auto;
}

.contact {
  width: 90%;
  margin: auto;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form label {
  font-size: 1rem;
  margin: 0.7rem 0rem 0.5rem 0rem;
}

.contact form input {
  height: 2rem;
  max-width: 25rem;
}

.contact form textarea {
  max-width: 35rem;
  resize: none;
}
/*# sourceMappingURL=style.css.map */