.contact{
    width: 90%;
    margin: auto;

    form{
        display: flex;
        flex-direction: column;

        label{
            font-size: 1rem;
            margin: 0.7rem 0rem 0.5rem 0rem;
        }

        input{
            height: 2rem;
            max-width: 25rem;
            
        }

        textarea{
        max-width: 35rem;
        }

    }
}