.header {


    width: 100vw;
    background-color: $color-black;
    color: $color-white;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;


    .logo-and-burger {

        @include standart-flex(row, space-between, center);

        .logo {

            text-transform: uppercase;
            margin-left: 1rem;

            a {
                display: block;
            }
        }

        .burger-button{
            margin-right: 1rem;
        }
    }

}