.header {

    width: 100vw;
    background-color: $color-black;
    color: $color-white;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    &__logo {
        text-transform: uppercase;

        a {
            display: block;
        }
    }
}