.navigation.active {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid $color-white;

    ul {

        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: $color-black;
        @include standart-flex(column, space-around, center);
        padding-top: 5vh;


        li {
            padding-top: 3rem;
            
       
        }

    }

    .social-icons {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: $color-black;
    }
}

.navigation{
 display: none;
}