.footer {
    background-color: $color-black;
    border-top: 2px solid $color-white;
    @include standart-flex(column);
    text-transform: capitalize;

    .title {
        text-align: center;


    }

    .creator-info {
        
        p, a{
            color: $color-blue;
            font-size: 0.9rem;
        } 

    }

}