.navigation.active {
    position: relative;
    width: 100vw;
    height: 80vh;
    border-top: 1px solid $color-white;


    ul {

        position: absolute;
        top: -20%;
        right: 25%;
        transform: translate(-50%, 50%);
        background-color: $color-black;
        @include standart-flex(column, space-around, center);


        li {
            padding-top: 3rem;

        }

    }

    .social-icons {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: $color-black;
    }




}

.navigation{
    display: none;
}